@{

    ViewData["Title"] = "Home";
}

<div class="jumbotron" style="background-image: url('img/banner.jpg')">
    <div class="jumbotron-content">
        <h1>Relecloud Concerts</h1>
        <p class="lead">&raquo; Find a local concert for customers</p>
        <p class="lead">&raquo; Securely purchase tickets</p>
        <p class="lead">&raquo; Deliver world-class concert experience!</p>
    </div>
</div>