@{

    ViewData["Title"] = "Home";
}

<div class="jumbotron" style="background-image: url('img/banner.jpg')">
    <div class="jumbotron-content">
        <h1>Relecloud Concerts</h1>
        <p class="lead">&raquo; Find your favorite concerts</p>
        <p class="lead">&raquo; Securely purchase your tickets</p>
        <p class="lead">&raquo; Enjoy the show!</p>
    </div>
</div>